<ion-header>
  <ion-navbar color="header" hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      اتصل بنا
    </ion-title>
     <ion-buttons right >    
    <button ion-button (click)="goBack()">
        <ion-icon ><img style="height:20%;width:30%" src="assets/icon/back.png" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content center text-center >
  <img src="assets/img/results-img.png" class="fadeIn" />
  <div padding class="notes" >
    <h2> : للأتصال بنا مباشراً عبر الجوال </h2>
    <p>{{inf.mobile1}} او {{inf.mobile2}}</p>
    <h2>او عبر الأيميل : </h2>
    <p>{{inf.email1}} او {{inf.email2}} </p>
    <h2>او عبر الموقع الخاص بنا : </h2>
    <p>{{inf.sitemail}}</p>
    
  </div>
  <form padding [formGroup]="contactForm" >
    <ion-item style="margin-top:10px" class="animated bounceInRight">
      <ion-label style="color:black">الأسم</ion-label>
      <ion-input type="text" formControlName="name" clearInput></ion-input>
    </ion-item>
 <p *ngIf="contactForm.controls.name.errors" style="color:red;font-weight: bold" >ادخل الأسم</p>

    <ion-item style="margin-top:10px;animation-delay: 0.15s" class="animated bounceInRight" >
      <ion-label style="color:black" >الأيميل</ion-label>
      <ion-input type="email" formControlName="email" clearInput></ion-input>
    </ion-item>
 <p *ngIf="contactForm.controls.email.errors" style="color:red;font-weight: bold" >ادخل البريد الألكتروني</p>

    <ion-item style="margin-top:10px;animation-delay: 0.3s" class="animated bounceInRight" >
      <ion-label style="color:black" >عنوان الرساله</ion-label>
      <ion-input type="text" formControlName="subject" clearInput></ion-input>
    </ion-item>
 <p *ngIf="contactForm.controls.subject.errors" style="color:red;font-weight: bold" >ادخل الموضوع</p>

    <ion-item style="margin-top:10px;animation-delay: 0.45s" class="animated bounceInRight" >
      <ion-label style="color:black" >نص الرساله</ion-label>
    <ion-textarea formControlName="message" ></ion-textarea>
    </ion-item>
 <p *ngIf="contactForm.controls.message.errors" style="color:red;font-weight: bold" >ادخل الرساله</p>
 <button ion-button large round block color="icon" [disabled]="!contactForm.valid" (click)="send();">ارسال
  <img src="assets/icon/send.png" style="height:50%"/>
</button>
  </form>

</ion-content>