
@font-face {
    font-family: 'jannat';
    src: url('../assets/fonts/A.Jannat.LT.Regular.ttf') format('truetype');
}

html{
    font-size:7px;

    font-family: 'jannat' !important;
    
}

body {
            font-family: 'jannat' !important;


}

     
@keyframes bounceInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(150px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateX(-40px); 
    } 
    80% { 
        transform: translateX(10px); 
    } 
    100% { 
        transform: translateX(0); 
    } 
} 

.bounceInRight { 
    animation-name: fadeInUp; 
    animation-duration: 1.2s; 
    
}


@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    animation-name: fadeIn;
    animation-duration: 2s; 
}



@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(-300px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInUp { 
    animation-name: fadeInUp;
    animation-duration: 1.5s 
}

ion-modal {
background: rgba(0,0,0,0.5) ; 
border-radius: 25px;
}

ion-spinner svg *{
    stroke: #3ec2d6 !important;
}


.toast-container{
background-color: #3ec2d6 ;
}

