page-stores {

    .search{
        padding:30px;
    }

    .home-title{
        height:60px;
        margin-top:-66px;
        margin-bottom: -15px;
        background-color: rgba( black, 0.6)
      }
}
